<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://222.66.8.250:7600/Palas" />
    <add name="MySql" connectionString="Server=222.66.89.17;uid=palas;pwd=lapas;Database=Palas_V4;charset=utf8" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
