<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://222.66.89.15:7600/Palas" />
    <add name="MySql" connectionString="Server=222.66.89.17;uid=palas;pwd=lapas;Database=Palas_V4;charset=utf8" />
    <add name="PalasDB" connectionString="metadata=res://*/DataAccess.PalasDBModel.csdl|res://*/DataAccess.PalasDBModel.ssdl|res://*/DataAccess.PalasDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=222.66.89.17;User Id=material;database=Palas_V4;password=opinion;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Palas_V4Entities" connectionString="metadata=res://*/PalasV4.csdl|res://*/PalasV4.ssdl|res://*/PalasV4.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=222.66.89.17;User Id=palas;password=lapas;Persist Security Info=True;database=Palas_V4;Character Set=utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
